@import "tailwindcss";

@theme {
  /* Brand Palette */

  /* Toastmasters Brand */

  --tm-cool-gray: #a9b2b1;
  --tm-happy-yellow: #f2df74;
  --tm-loyal-blue: #004165;
  --tm-true-maroon: #772432;
  --tm-deep-maroon: #3b0104;
  --tm-rich-maroon: #781327;

  /* Application Neutrals */

  --neutral-0: #ffffff;
  --neutral-900: #18181b;

  /* Semantic Tokens */
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-source-sans-3);

  --color-background: var(--neutral-0);
  --color-foreground: var(--neutral-900);

  --color-primary: var(--tm-loyal-blue);
  --color-primary-foreground: var(--neutral-0);

  --color-secondary: var(--tm-true-maroon);
  --color-secondary-foreground: var(--neutral-0);

  --color-surface-dark: var(--neutral-900);
  --color-muted: var(--tm-cool-gray);
  --color-accent: var(--tm-happy-yellow);

  --color-gradient-from: var(--tm-deep-maroon);
  --color-gradient-to: var(--tm-rich-maroon);
  --color-gradient-foreground: var(--neutral-0);

  --color-hover: var(--neutral-0);
}

body {
  font-family: var(--font-body);
}
